#-------------------------
# Composer
#-------------------------
composer.lock
vendor/

#-------------------------
# Environment Files
#-------------------------
.env

#-------------------------
# Archive Files
#-------------------------
*.zip

#-------------------------
# Visual Studio Code
#-------------------------
.vscode/

#-------------------------
# Operating Specific Junk Files
#-------------------------
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
